.sidebar {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.87);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: none;
    height: 100%;
}
.line {
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    border-left: 0px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    height: 0.0625rem;
    margin-top: 1rem;
    border-bottom: none;
    opacity: 0.25;
    background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.5), rgba(52, 71, 103, 0)) !important;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
li {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-top: 0px;
    margin-bottom: 8px;
}
.css-zsxelz {
    opacity: 1;
    background: rgb(255, 255, 255);
    color: rgb(52, 71, 103);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.675rem 0.8rem 0.675rem 1rem;
    margin: 0px 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}
.css-cxolhu {
    opacity: 1;
    background: transparent;
    color: rgb(103, 116, 142);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.675rem 0.8rem 0.675rem 1rem;
    margin: 0px 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    box-shadow: none;
}
.css-oo3m22 {
    opacity: 1;
    max-width: 100%;
    margin-left: 0.8rem;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.css-pys03g {
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    background: rgb(63, 81, 181);
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem, rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.css-oo3m22 span {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 0;
}
.sidebar .logo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .logo .icon {
    color: rgb(40, 53, 147);
    font-size: 24px;
}
.sidebar .logo p {
    margin-left: 4px;
    font-weight: 700;
    font-size: 24px;
    color: rgb(40, 53, 147);
}
.css-120kvgf {
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    background: rgb(233, 236, 239);
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem, rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 14px;
}
.menu-part {
    padding: 0.675rem 0.8rem 0.675rem 1rem;
    margin: 1rem 1rem 4px 1rem;
}
.menu-part {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    font-size: 0.7rem;;
    text-transform: capitalize;
}

