* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
body {
  /* font-family: Poppins,sans-serif; */
  font-family: "Maven Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  --tw-ring-shadow: 0 0 #0000;
  height: 100vh;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
}
