.form-container {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 24px 0px 40px;
}

.navigation-element {
    position: relative;
    flex: 1;
    padding-left: 8px;
    padding-right: 8px;
}

.element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .element-index-container {
    display: flex;
    flex-shrink: 0;
    padding-right: 0px;
} */

.element-index {
    color: rgba(0, 0, 0, 0.38);
    /* overflow: hidden; */
    fill: currentColor;
    user-select: none;
    width: 2.5em;
    height: 2.5em;
    /* flex-shrink: 0; */
    font-size: 1.2rem;
    /* display: block; */
    /* transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}

.chosen-element, .passed-element {
    color: rgb(63, 81, 181);
}

.index-text {
    text-anchor: middle;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    /* display: block; */
    /* white-space: nowrap; */
    /* color: rgb(63, 81, 181); */
}

.element-label-container {
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 12px;
}

.chosen-label, .passed-label {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
}

.check_line {
    stroke: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.navigation-line-container {
    position: absolute;
    top: 24px;
    left: calc(-50% + 40px);
    right: calc(50% + 40px);
}

.navigation-line {
    display: block;
    border-color: rgb(189, 189, 189);
    border-top-style: solid;
    border-top-width: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    line-height: 2;
}

.form-header {
    margin: 0px 0px 0.35em;
    line-height: 1.6;
    font-size: 24px;
}

.row-radio, .row-text, .row-select {
    display: flex;
    margin-top: 16px;
}

.label {
    flex: 1;
    font-weight: 450;
}

.group {
    margin-bottom: 24px;
}

.label-group {
    margin-top: 24px;
    display: flex;
    font-size: 22px;
    font-weight: 500;
}

.line_blue {
    width: 36px;
    border-bottom: 2px solid rgb(63, 81, 181);
    margin-left: 5px;
    margin-bottom: 8px;
}

.text-input, .radio-container, .select-container {
    flex: 2;
}

.select-container {
    /* height: 35px; */
    /* line-height: 0.8; */
    /* vertical-align: middle; */
    width: 100%;
    font-size: 1rem;
}

.text-input input[type=text] {
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    align-items: center;
    padding: 10px 10px 10px;
    /* box-shadow: none; */
    outline: none;
    color: currentcolor;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    /* height: 1.4375em; */
    width: 100%;
    /* animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms; */
}

.text-input input[type=password]:hover {
    border-color: gray;
}

.text-input input[type=password]:focus {
    border-color: gray;
}

.text-input input[type=password] {
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    align-items: center;
    padding: 10px 10px 10px;
    /* box-shadow: none; */
    outline: none;
    color: currentcolor;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    /* height: 1.4375em; */
    width: 100%;
    /* animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms; */
}

.text-input input[type=text]:hover {
    border-color: gray;
}

.text-input input[type=text]:focus {
    border-color: gray;
}

.select > div {
    
    cursor: text;
}

/* .mySelect__value-container{
    height: 35px;
    padding-bottom: 5px;
    vertical-align: middle;
} */

.mySelect-placeholder{
    line-height: 100px
}

.radio-container {
    display: flex;
}

.radio {
    padding-left: 1em;
    width: 30%;
    /* font-family: "Maven Pro", sans-serif; */
}

.radio-button {
    color: rgb(63, 81, 181);
}

.radio-label {
    padding-left: 0.2em;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    /* cursor: pointer; */
}

.button-container {
    font-weight: 400;
    
    line-height: 1.5;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
}

.button {
    line-height: 2;
    text-transform: uppercase;
    /* min-width: 80px; */
    padding: 8px 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 81, 181);
    border-radius: 7px;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    /* user-select: none;
    vertical-align: middle;
    appearance: none; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 0.2s all;
}

.button:hover {
    background-color: rgb(40, 53, 147);
    box-shadow: rgba(142, 162, 142, 0.2) 0px 1px 3px 0px, 
                rgba(243, 243, 243, 0.14) 0px 1px 1px 0px, 
                rgba(204, 204, 204, 0.12) 0px 2px 1px -1px;
}
  
.button:active {
    transform: scale(0.93);
}

.button-back {
    background-color: transparent;
    color: rgb(63, 81, 181);
}

.button-back:hover {
    background-color: rgba(63, 81, 181, 0.05);
}
.date-picker-width {
    width: 100%
}
