.main-content {
    width: 80%;
}
.dashboard-layout {
    padding: 1.5rem;
}
.dashboard-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
    padding-right: 8px;
    text-transform: capitalize;
    color: rgb(40, 53, 147);
}
.card-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: -8px;
    margin-right: -8px;
}
.statistics-card {
    background-color: white;
    padding: 16px;
    margin: 8px;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    align-items: center;
}
.card-icon {
    margin-left: auto;
    font-size: 24px;
    width: 64px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 53, 147);
    color: white;
    border-radius: 1rem;
}
.statistics-card p {
    margin: 0px;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    color: rgb(40, 53, 147);
    font-size: 16px;
    font-weight: 400;
}
.statistics-card h4 {
    margin: 0px;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    color: rgb(40, 53, 147);
    font-size: 28px;
    font-weight: 500;
}
.block-content-container {
    background-color: white;
    margin-top: 16px;
    padding: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}
.statistics-line-chart {
    flex: 2;
    overflow: hidden;
}
.quater-container {
    padding: 32px;
    flex: 1;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(62, 57, 107, 0.07) 0px 10px 15px -5px;
    color: rgba(0, 0, 0, 0.87);
}
.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
  }

.chartGrid {
    stroke: rgb(228, 225, 225);
}
.chart-title {
    font-family: "Maven Pro", sans-serif;
    line-height: 1.6;
    position: relative;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
    color: rgb(40, 53, 147);
    text-align: center;
}
.chart {
    width: 100%;
}
.chart-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
@media screen and (max-width: 1200px) {
    .navbar button:first-child {
        display: block;
    }
    .main-content {
        width: 100%;
    }
    .sidebar-container {
        display: none;
    }
    .sidebar {
        width: 40%;
    }
}
@media screen and (max-width: 900px) {
    .statistics-container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 50%;
        padding: 8px;
        padding-top: 16px;
    }
    .sidebar .logo p {
        margin-left: 4px;
        font-weight: 700;
        color: rgb(40, 53, 147);
    }
    .card-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 600px) {
    .statistics-card h4 {
        font-size: 22px;
    }
    .statistics-card p {
        font-size: 12px;
    }
    .primary-btn {
        font-size: 12px;
        margin-right: 0px;
        height: 36px;
        padding: 6px 8px;
    }
    .chart-title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .sidebar {
        width: 70%;
        padding: 8px;
    }
    .sidebar .logo p {
        margin-left: 4px;
        font-weight: 700;
        font-size: 18px;
        color: rgb(40, 53, 147);
    }
    .menu-part {
        color: rgba(0, 0, 0, 0.54);
        font-weight: 500;
        font-size: 0.7rem;
        text-transform: capitalize;
        margin-left: 0px;
        margin-right: 0px;
    }
    .css-zsxelz, .css-cxolhu {
        margin: 0;
    }
    .dashboard-layout {
        padding: 8px;
    }
    .chart-title-container {
        flex-direction: column;
    }
    .card-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}