.statis {
    margin: 0px;
    font-family: "Maven Pro", sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 16px;
    color: rgb(40, 53, 147);
}
.space {
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    margin: 24px 0px;
    display: block;
}

.progress-bar {
    padding: 1px 16px;
    border-radius: 4px;
}

.quarter {
    margin-right: 10px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}